setuptools
bob.extension
bob.core
bob.io.base
bob.db.base
bob.learn.em
bob.measure
bob.sp
bob.ip.base
bob.ip.color
bob.ip.gabor
bob.measure
bob.db.base
bob.db.atnt
bob.ip.facedetect
bob.io.video
matplotlib
scikit-learn
